body{
    background-color: skyblue;
}
#application-info {
    display: flex;
    color: aquamarine;
    margin-right: 5%;
    margin-left: 5%;
    padding-right: 5%;
    flex-direction: column;
    justify-items: left;
}

#app-info {
    color: grey;
}

.droplist {
    background-color: aquamarine;
    color: gray;
    padding: 16px;
    font-size: 16px;
    border: none;
}

#data-input {
    position: relative;
    display: inline-block;
    margin-left: 5%;
    padding-right: 5%;
    flex-direction: row;
}

.data-input-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.data-input-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.data-input-content a:hover {background-color: #dddddd;}

#data-input:hover .data-input-content {display: block;}

#data-input:hover .droplist {background-color: dodgerblue;}

#headline-display {
    display: flex;
    overflow-wrap: break-word;
    overflow: hidden;
    text-align: left;
    
    margin-top: 2.5%;
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border: solid;
    border-style: groove;
    border-color: honeydew;
}

#display {
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    overflow: hidden;
    text-align: left;
    text-overflow: clip ellipsis inherit initial;
}

#filler {
    display: flex;
    overflow-wrap: break-word;
    overflow: hidden;
    text-align: left;

    background-color: aquamarine;
    
    margin-top: 2.5%;
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border: solid;
    border-style: groove;
    border-color: honeydew;
}

#data-output {display: none;} 
